<h1>Log in</h1>
<form action="<%= sessions_url %>" method="post" accept-charset="utf-8">
	<label for="user_name">Username</label><input type="text" name="user[user_name]" id="user_name">
	<label for="password">Password</label><input type="text" name="user[password]" id="password">

	<p><input type="submit" value="Log in"></p>
</form>